// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #48D1CC;
$color-text: #343434;

// Fonts
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

// Breakpoints
$break-mobile: 768px;
$break-desk: 769px;

