//========================
//Form styles
//========================
.form {
    @include for-mobile-only {
    max-width: 768px;
    width: 100%;
    display: block;
    }
    .form__label--hidden {
        display: none;
    }
    .form__input {
        border: none;
        border-bottom: 4px solid $color-primary;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box; 
    }
}